<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Axel</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        
        <h1>Blog</h1>
        <h2>This sections is WIP</h2>
      
        <p>You will find my thoughts and learning here.</p>
      
        <p>Soon I will write about my 6 month journey to Argentina.</p>
      </body>
</html>